body {
    background-color: beige;
}
.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    border: 2px solid black;
    width: 640px;
    height: 640px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.button-container button {
    height: 24px;
    width: 96px;
}

.square {
    border: 1px solid rgba(200, 200, 200, 0.5);
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.black {
    background-color: black;
    border-color: black;
}